html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(67, 127, 184);
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}
#navbar{
    margin:0;
    padding: 5px 0;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(77, 67, 168);
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.1);
}
#navbar ul{
    display: flex;
    margin: 12px 0px 10px auto;
    width: 55%;
    justify-content: space-evenly;
    list-style: none;
}
#navbar ul li a{
    margin-left: 3px;
    color: white;
    opacity: 0.7;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:lightgreen;
    opacity: 1;
    transition: all 0.15s;
}
.logo{
    position: absolute;
    left: 5px;
}
.logo-text{
    position: absolute;
    left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
    color: green;
}
#home{
    display: flex;
    justify-content: center;
    max-height: 721px;
}
#home img{
    padding: 0 3rem;
}
#home img:hover{
    transform: scale(1.17);
    transition: all 1s;
}