html{
    scroll-behavior: smooth;
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(238,15,15);
background: radial-gradient(circle, rgba(238,15,15,1) 1%, rgba(216,18,18,1) 12%, rgba(193,20,21,1) 23%, rgba(179,22,23,1) 46%, rgba(45,39,40,1) 100%);
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}
.besthits-text{
    text-align: center;
    font-size: 2rem;
    color: white;
}
#navbar{
    margin:0;
    padding: 5px 0;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    background: rgb(168,56,56);
    background: linear-gradient(0deg, rgba(168,56,56,1) 5%, rgba(45,39,40,1) 53%);
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.1);
}
#navbar ul{
    display: flex;
    margin: 12px 0px 10px auto;
    width: 55%;
    justify-content: space-evenly;
    list-style: none;
}
#navbar ul li a{
    margin-left: 3px;
    color: white;
    opacity: 0.7;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:white;
    opacity: 1;
    transition: all 0.15s;
}
.logo{
    position: absolute;
    left: 5px;
}
.logo-text{
    position: absolute;
    left: 60px;
    font-family: 'Monoton', cursive;
    font-size: 2.1rem;
    color: silver;
}
#home{
    display: flex;
    justify-content: center;
    max-height: 721px;
}
#home img{
    padding: 0 3rem;
}
#playlist-info, .price-sectio-about{
    margin: 20px 10px 0px 10px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
}
.movie{
    display: inline-flex;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 320px;
    width: 1000px;
    border: 2px solid black;
    background: rgba(45,39,40,0.6);
    color: aliceblue;
}
.movie-img{
    width: 60px;
    padding: 10px 20px;
}
.movie-info{
    padding-right: 50px;
    padding-left: 150px;
}
.movie-img:hover{
    transform: scale(1.08);
    transition: all 1s;
}
.movie-hours{
    display: inline-block;
    margin: 5px;
    padding: 4px;
    border: 2px solid white;
    font-size: 1.5rem;
}
.movie-hours:hover{
    background-color:  rgb(24, 21, 21);
    cursor:default;
    opacity: 1;
    transition: all 0.15s;
}
#price-section{
    background-image: url("https://cdn.pixabay.com/photo/2016/03/23/17/33/curtain-1275200_960_720.png");
    margin: 30px;
    border: 10px solid rgba(45,39,40,1);
}
.price-tickets-adults, .price-tickets-students, .price-tickets-kids{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    padding: 60px;
    border: 2px solid white;
    font-size: 2rem;
}
.price-tickets-adults{
    background-color: green;
}
.price-tickets-students{
    background-color: pink;
}
.price-tickets-kids{
    background-color: yellow;
}
.price-bar{
    margin-left: 50px;
}
.price-bar-box{
    background-color: transparent;
}
.price-bar-one-third{
    width: 30%;
    float: left;
    padding: 20px;
    margin: 30px 0px 30px;
}
.column-price-bar{
    position: relative;
    height: 360px;
    border: 5px solid black;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.bottom-right{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 2rem;;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.price-bar-popcorn{
    background-image: url("https://media.istockphoto.com/photos/popcorn-picture-id492796339?b=1&k=20&m=492796339&s=170667a&w=0&h=Dq0WFChl8DaDxM8YB36c0eLBXFkx6wTCpjrcuzw_e9w=");
}
.price-bar-nachos{
    background-image: url("https://media.istockphoto.com/photos/nachos-and-melted-cheese-picture-id157291939?k=20&m=157291939&s=612x612&w=0&h=ptsopygNCormIDm9E7VbcIeagP5L89WrXz4yfWTuCDU=");
}
.price-bar-cola{
    background-image: url("https://media.istockphoto.com/photos/cola-with-ice-picture-id1359169773?k=20&m=1359169773&s=612x612&w=0&h=xejMAgd774hpBpO4HZ63XzeBVwykGHlumM_Idf0NP1Q=");
}