html{
    scroll-behavior: smooth;
    box-sizing:border-box;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(238,15,15);
    background: radial-gradient(circle, rgba(238,15,15,1) 1%, rgba(216,18,18,1) 12%, rgba(193,20,21,1) 23%, rgba(179,22,23,1) 46%, rgba(45,39,40,1) 100%);
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}
.besthits-text{
    text-align: center;
    font-size: 2rem;
    color: white;
}
#navbar{
    margin:0;
    padding: 5px 0;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    background-image: url("https://cdn.pixabay.com/photo/2015/10/17/17/14/background-992850_960_720.png");
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.1);
}
#navbar ul{
    display: flex;
    margin: 12px 0px 10px auto;
    width: 55%;
    justify-content: space-evenly;
    list-style: none;
}
#navbar ul li a{
    margin-left: 3px;
    color: white;
    opacity: 0.7;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:white;
    opacity: 1;
    transition: all 0.15s;
}
.logo{
    position: absolute;
    left: 5px;
}
.logo-text a{
    position: absolute;
    left: 60px;
    font-family: 'Monoton', cursive;
    font-size: 2.1rem;
    color: silver;
    opacity: 0.7;
    text-decoration: none;
}
#home{
    display: flex;
    justify-content: center;
    max-height: 721px;
    width: 100vw;
}
#home img{
    width: 100%;
    height: 50vh;
}
#playlist-info, .price-sectio-about, .cinemas-title{
    margin: 20px 10px 0px 10px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
    font-family: 'Pacifico', cursive;
}
.movie{
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;
    height: 324px;
    width: 70vw;
    border: 2px solid black;
    background: rgba(45,39,40,0.6);
    color: aliceblue;
}
.movie-img{
    width: 60px;
    padding: 10px 20px;
}
.movie .movie-img img{
    width: 200px;
    height: 300px;
}
.movie-info{
    padding-right: 50px;
    padding-left: 150px;
}
.movie-img:hover{
    transform: scale(1.08);
    transition: all 1s;
}
.movie-hours{
    display: inline-block;
    margin: 5px;
    padding: 4px;
    border: 2px solid white;
    font-size: 1.5rem;
}
.movie-hours:hover{
    background-color:  rgb(24, 21, 21);
    cursor:default;
    opacity: 1;
    transition: all 0.15s;
}
#price-section{
    background-image: url("https://cdn.pixabay.com/photo/2016/03/23/17/33/curtain-1275200_960_720.png");
    margin: 30px;
    border: 10px solid rgba(45,39,40,1);
}
.price-tickets-adults, .price-tickets-students, .price-tickets-kids{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    padding: 60px;
    border: 2px solid white;
    font-size: 2rem;
}
.price-tickets-kids, .price-tickets-students, .price-tickets-adults{
    background-image: url("https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_960_720.jpg");
    background-position: bottom;
    font-family: 'Stardos Stencil', cursive;
    color: white;
}
.price-bar{
    margin-left: 50px;
}

.price-bar-one-third{
    width: 30%;
    float: left;
    padding: 20px;
    margin: 30px 0px 30px;
}
.column-price-bar{
    border: 5px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align:center;
    font-size: 1.7vw;
    padding-top: 40%;
    padding-bottom: 10%;
    padding-right: 1,7vw;
    padding-left: 35%;
    font-family: 'Racing Sans One', cursive;
    color: black;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.price-bar-popcorn{
    background-image: url("https://media.istockphoto.com/photos/popcorn-picture-id492796339?b=1&k=20&m=492796339&s=170667a&w=0&h=Dq0WFChl8DaDxM8YB36c0eLBXFkx6wTCpjrcuzw_e9w=");
}
.price-bar-nachos{
    background-image: url("https://media.istockphoto.com/photos/nachos-and-melted-cheese-picture-id157291939?k=20&m=157291939&s=612x612&w=0&h=ptsopygNCormIDm9E7VbcIeagP5L89WrXz4yfWTuCDU=");
}
.price-bar-cola{
    background-image: url("https://media.istockphoto.com/photos/cola-with-ice-picture-id1359169773?k=20&m=1359169773&s=612x612&w=0&h=xejMAgd774hpBpO4HZ63XzeBVwykGHlumM_Idf0NP1Q=");
}
.cinemas-towns{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1vw;
    background-color: grey;
}
.cinemas-towns p{
    font-size: 1.3vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
iframe{
    width: 30vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid grey;
}
.cinemas-img{
    border: 5px solid grey;
    background-color: grey;
    display: grid;
    grid-auto-flow: column;
}
#contact-section{
    display: flex;
    justify-content: space-around;
    color: white;
}
@media screen and (max-width: 600px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    #navbar ul li a{
        margin-left: 3px;
        color: white;
        opacity: 0.7;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        display: none;
    }
    #home img{
        width: 100%;
        height: 30vh;
    }
    .movie{
        display: flex;
        justify-content: center;
        margin: 20px auto 20px auto;
        height: 170px;
        width: 90vw;
        border: 2px solid black;
        background: rgba(45,39,40,0.6);
        color: aliceblue;
    }
    .movie .movie-img img{
        width: 100px;
        height: 150px;
        margin-left: 40px;
    }
    .movie-info{
        padding-right: 20px;
        padding-left: 90px;
        font-size: 5px;
    }
    .movie-hours{
        display: inline-block;
        margin: 5px;
        padding: 4px;
        border: 2px solid white;
        font-size: 5px;
    }
    .price-tickets-kids, .price-tickets-students, .price-tickets-adults{
        font-size: 10px;
        width: 40vw;
        height: 5vh;
        padding: 5px;
        justify-content: center;
        margin-left: 60px;
        margin-right: 30px; 
    }
    .price-bar-one-third{
        width: 90%;
        padding: 0;
    }
    .column-price-bar{
        font-size: 20px;
    }
    #contact-section{
        font-size: 10px;
    }
    iframe{
        height: 120px;
    }
    .cinemas-towns p{
        font-size: 1.5vh;
}
}